aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aiosignal==1.3.2
anyio==4.8.0
astrapy==1.5.2
async-lru==2.0.4
async-timeout==5.0.1
attrs==24.2.0
Automat==22.10.0
beautifulsoup4==4.12.3
certifi==2025.1.31
cffi==1.17.0
charset-normalizer==3.3.2
constantly==23.10.4
contourpy==1.3.1
cryptography==43.0.0
cssselect==1.2.0
cycler==0.12.1
defusedxml==0.7.1
deprecation==2.1.0
diagrams==0.24.1
dnspython==2.7.0
dotenv==0.9.9
exceptiongroup==1.2.2
filelock==3.15.4
fonttools==4.56.0
frozendict==2.4.6
frozenlist==1.5.0
graphviz==0.20.3
h11==0.14.0
h2==4.2.0
hpack==4.1.0
html5lib==1.1
httpcore==1.0.7
httpx==0.28.1
hyperframe==6.1.0
hyperlink==21.0.0
idna==3.7
incremental==24.7.2
itemadapter==0.9.0
itemloaders==1.3.1
Jinja2==3.1.4
jmespath==1.0.1
kiwisolver==1.4.8
lxml==5.3.0
MarkupSafe==3.0.2
matplotlib==3.10.0
mplfinance==0.12.10b0
multidict==6.1.0
multitasking==0.0.11
numpy==2.1.2
oauthlib==3.2.2
packaging==24.1
pandas==2.2.3
parsel==1.9.1
peewee==3.17.9
pillow==11.1.0
platformdirs==4.3.6
propcache==0.2.1
Protego==0.3.1
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
PyDispatcher==2.0.7
pymongo==4.11.1
pyOpenSSL==24.2.1
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
queuelib==1.7.0
requests==2.32.3
requests-file==2.1.0
requests-oauthlib==1.3.1
Scrapy==2.11.2
service-identity==24.1.0
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
tldextract==5.1.2
toml==0.10.2
tomli==2.0.1
tweepy==4.14.0
Twisted==24.7.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.2
uuid6==2024.7.10
w3lib==2.2.1
webencodings==0.5.1
yarl==1.18.3
yfinance==0.2.52
zope.interface==7.0.1
